nav{
  display:flex;
  justify-content: space-around;
  margin:2rem;
}

a{
  text-decoration: none;
  font-weight:500;
  cursor: pointer;
}

input[type="text"] {
    display:block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
